<div class="agreementContainer">
	<h3>《蓝海会员服务协议》</h3>
	<dl>
		<dt>本协议是您与上海新飞凡电子商务有限公司之间的法律协议。上海新飞凡电子商务有限公司根据以下服务条款为您提供服务。</dt>
		<dd>（1）请您仔细阅读本注册协议，您勾选"同意"后，即视为您同意、接受并订立本协议约定条款。您勾选“同意”后，即表示您亦同意成为万达统一账户平台的用户。万达统一账户平台是上海万达网络金融服务有限公司建立的用户账户统一管理和服务系统，可实现一个用户对应一个或多个账户、连接多个产品与服务，向用户提供统一账户服务，用户在统一账户平台注册后可使用统一账户登录飞凡（上海新飞凡电子商务有限公司网站、手机客户端或其它应用）、快钱（快钱金融服务（上海）有限公司及其子公司网站、手机客户端或其它应用）、万达时贷（上海万达小额贷款有限公司网站、手机客户端或其它应用）、其它授权网站/手机客户端/其它应用，进而享有相应服务商提供的会员权益服务、积分服务、商业广场服务、城市公共服务、支付服务、信用服务、理财服务、信贷服务、消费金融服务、电影、旅游、酒店等其它线上到线下服务。</dd>
		<dd>（2）如您访问或使用飞凡平台，包括并不限于飞凡网、飞凡移动客户端、飞凡一卡通移动客户端，使用飞凡WIFI接入，或您通过其它方式使用上海新飞凡电子商务有限公司提供的服务（下称"本服务"），即视为您同意、接受并订立本协议约定条款。
飞凡平台的各项服务的所有权和运作权归上海新飞凡电子商务有限公司所有。当您使用本服务时，如上海新飞凡电子商务有限公司公布了与该服务相关其他指引和规则，则前述所有的指引和规则，均构成本协议的一部分。您应于使用本服务前认真阅读全部协议内容。如您不同意本协议及/或随时对其的修改，请您立即停止使用本服务；一旦您使用本服务，即视为您已了解并完全同意本协议各项内容。</dd>
	</dl>
</div>


