<img src="./images/ffan.jpg" alt="飞凡">

<div class='notWork'>
  <p><i class='iconfont icon-notwork'></i></p>
  <p>网络请求失败，请检查您的网络设置。</p>
  <div class="operation">
    <input type='button' class='btn btnBlue' value='重新加载' id='reLoad'>
  </div>
</div>
