<div class="userNotice">
	<div class="banner">
		<img src="./images/banner_notice.jpg" />
	</div>
	<div class="notice">
		<div class="noticeInfo">
			<div class="shadow">
				<p class="userNoticeInfo">{{{instruction}}}</p>
			</div>
		</div>
	</div>
</div>
<div class="noInfo">
	<img src="./images/no_noticeInfo.jpg" />
	<p>抱歉，暂无使用须知哦～</p>
</div>