<div class="storeIntroduce">
	<div class="banner">
		<img src="./images/banner_introduce.jpg" />
	</div>
	<div class="introduce">
		<div class="introduceInfo">
			<div class="shadow">
				<p class="storeIntroduceInfo">{{storeDesc}}</p>
			</div>
		</div>
	</div>
</div>
<div class="noInfo">
	<img src="./images/no_storeinfo.jpg" />
	<p>抱歉，暂无门店介绍信息哦～</p>
</div>