<div class="form-container">
  <div class="upload-photo" id="uploadPhoto">
    <span>
      人脸采集
    </span>
  </div>
  <div class="input-wrapper">
      <input id="phoneNumberInput" class="phoneNumberInput" type="number" placeholder="请输入手机号">
    <div class="code-wrapper">
      <input class="validateCodeInput" id="validateCodeInput" type="number" placeholder="请输入验证码">

      <button class="sendCode" id="sendCode">
        <span class="btn-content" id="btnContent">发送验证码</span>
      </button>
    </div>
  </div>
</div>

<span id="registerBtn" class="btn-blue">注册</span>
<div class="agree">
  <div class="roundedTwo">
    <input type="checkbox" value="None" id="roundedTwo" name="check" checked="">
    <label for="roundedTwo"></label>
  </div>
  我已阅读并同意 <span class="text-blue">《飞凡会员服务体系》</span>
</div>
