<div class="errorContainer">
	<img src="http://img1.ffan.com/T1seCTBmWy1RCvBVdK" alt="icon" />
	<dl>
		<dt>访问出错了！</dt>
		<dd>您所访问的站点在蓝海认证失败，<br />请您联系<a href="#">客服</a>或稍后再试。</dd>
	</dl>
	<p class="errorInfo">(error:<span></span>)</p>
<div>
<footer class="footer">蓝海<span>版权所有</span></footer>
